@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@100;400;700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Playwrite+CU&family=Tangerine:wght@400;700&display=swap');

:root {
    --cor01: #D88953;
    --cor02: #C89868;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
h1{
    font-family: "Gayathri", sans-serif;
    font-size: 2.2em;
    color: #ffffff;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.258);
    text-align: center;
    padding-top: 20px;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    color: #ffffff;
    
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.258);
    text-align: center;
    padding-bottom: 20px;
}
header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    background: url(https://cdn.discordapp.com/attachments/1285657709374476340/1300928221046509599/image.png?ex=67229f51&is=67214dd1&hm=cff5b487de603bed1324fef3dc74aa431616b705a177c26fae1d5edcbf7eefcb&) center center no-repeat;
    background-size: cover;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.349);
    padding: 8px;
    min-width: 420px;
}
header > div {
    background: url(https://cdn.discordapp.com/attachments/1285657709374476340/1300953311716839504/image.png?ex=6722b6b0&is=67216530&hm=b5ce7c2287719a9da8eb6560f4ca353ec95c190a898d426184fe2727d68c64d3&) center center no-repeat;
    background-size: cover;
    border-radius: 6px;
    height: 200px;
    width: 400px;
}
main {
    display: flex;
    flex-flow: row wrap;

    background-color: #ffffff;
    margin: 20px; /*por enquanto*/
}
section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    flex: 0 1 700px;
    gap: 50px;

    background-color: var(--cor02);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    padding: 30px;
    margin: auto;
}
section > div {
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 5px;
    width: 300px;
    height: 270px;
}

.img1 {
    background-image: url(imagens/e3400c38429530c9d430bdd0cbf6a587.jpg);
}
.img2 {
    background-image: url(https://i.pinimg.com/564x/a0/28/cf/a028cf6a618c5740a745828bec71a8ea.jpg);
    background-position: left center;
}
.img3 {
    background-image: url(https://i.pinimg.com/564x/d9/b0/d2/d9b0d20c412f4c07e869ad4a2b332f91.jpg);
}
.img4 {
    background-image: url(imagens/image.png);
}
.img5 {
    background-image: url(https://cdn.discordapp.com/attachments/1285657709374476340/1300900837299847198/image.png?ex=672285d1&is=67213451&hm=f5335ab41a795bb7e06bc25286cf791998e66a595ba4bc15b7a8e32ecd838c4f&);
}
.img6 {
    background-image: url(https://cdn.discordapp.com/attachments/1285657709374476340/1300909782143864952/image.png?ex=67228e25&is=67213ca5&hm=688b2be67c14374c3abe2e18ba312df442b56acc1468ce5263ca0fd31e4fba85&);
}

/*USAR MQ PARA DEIXAR O BANNER COVER A PARTIR DOS 450PX*/